@model BookListingViewModel

<div>
    <h2 class="text-align-center col-md-12">All Books</h2>
    <h5 class="text-align-center col-md-12">All the books in the game, including when they become available, the title, how to get them, and what effect they give once fully read.</h5>
    <table class="col-md-8 col-md-offset-2">
        <thead>
            <tr>
                <th class="col-md-1 text-align-center">Available</th>
                <th class="col-md-2">Title</th>
                <th>How to Obtain</th>
                <th class="col-md-3">Effect</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td class="text-align-center">@book.DateAvailable</td>
                    <td class="text-bright">@book.Title</td>
                    <td class="white-space-pre-line">@book.Requirement</td>
                    <td>@book.Effect</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2 class="text-align-center col-md-12">Book Order</h2>
    <h5 class="text-align-center col-md-12">This is the order of the books in the inventory, to make it easier to see which books you are missing.</h5>
    <table class="col-md-2 col-md-offset-5">
        @foreach (var bookOrder in Model.BookOrder)
        {
            <tr>
                <td class="text-align-center text-bright">@bookOrder.BookName</td>
            </tr>
        }
    </table>
</div>