@model QuestListingViewModel

<div>
    <h2 class="text-align-center">Quests</h2>
    <table class="col-md-10 col-md-offset-1 col-sm-12">
        <thead>
            <tr>
                <th class="extra-slim-column text-align-center">Number</th>
                <th>Title</th>
                <th class="slim-column text-align-center mobile-hidden">Quest Giver</th>
                <th class="text-align-center mobile-hidden">Location</th>
                <th class="slim-column text-align-center mobile-hidden">Available</th>
                <th class="text-align-center mobile-hidden">Prerequisities</th>
                <th class="text-align-center mobile-hidden">Reward</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quest in Model.Quests)
            {
                <tr>
                    <td class="text-align-center">@quest.Number</td>
                    <td class="text-bright">@quest.Title</td>
                    <td class="text-align-center mobile-hidden">@quest.QuestGiver</td>
                    <td class="text-align-center mobile-hidden">@quest.Location</td>
                    <td class="text-align-center mobile-hidden">@quest.DateAvailable</td>
                    <td class="text-align-center mobile-hidden">@(quest.Prerequisites != "" ? quest.Prerequisites : "-")</td>
                    <td class="text-align-center mobile-hidden">@(quest.Reward != "" ? quest.Reward : "-")</td>
                    <td>@quest.Instructions</td>
                </tr>
            }
        </tbody>
    </table>
</div>