@model SkillCardListingViewModel

@{
    var types = new List<string>() { "Physical", "Magical", "Support", "Passive" };
}

<div>
    <h2 class="text-align-center">Skill Cards</h2>
</div>

<div>
    <h3 class="text-align-center col-md-12">How to Obtain</h3>
    <h5 class="text-align-center col-md-8 col-md-offset-2">Skill cards are obtained via Shuffle Time. Shuffle time can occur at the end of a battle. If you get all the cards in the Shuffle Time you get a Sweep Bonus, a Sweep Bonus means you are guarenteed to get a Shuffle Time after the next battle. Each dungeon has a chance of dropping different skill card, by rank. This can be found below.</h5>
    <table class="col-md-6 col-md-offset-3 col-sm-12">
        <thead>
            <tr>
                <th class="text-align-center slim-column">Dungeon</th>
                <th class="text-align-center slim-column">Skill Card Ranks Found</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skillCardLocation in Model.SkillCardLocations)
            {
                <tr>
                    <td class="text-bright text-align-center">@skillCardLocation.DungeonName</td>
                    <td class="text-align-center">Ranks @skillCardLocation.RankLowerBound-@skillCardLocation.RankUpperBound</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @foreach (var type in types)
    {
        var skillCards = GetSkillCardsByType(type);
        <div>
            <h3 class="text-align-center col-md-12">@type</h3>
            <table class="col-md-6 col-md-offset-3 col-sm-12">
                <thead>
                    <tr>
                        <th class="text-align-center">Rank</th>
                        <th>Skill Cards</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        var rankSkillCards = GetSkillCardsByRank(skillCards, i);

                        <tr>
                            <td class="text-align-center">@i</td>
                            <td>
                                @if (rankSkillCards.Count == 0)
                                {
                                    @:-
                                }

                                @for (int j = 0; j < rankSkillCards.Count; j++)
                                {
                                    <span class="text-bright">@rankSkillCards[j].Name</span>
                                    @(j != rankSkillCards.Count() - 1 ? "," : "")
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@functions {
    private List<SkillCard> GetSkillCardsByType(string type)
    {
        return Model.SkillCards
            .Where(skillCard => skillCard.Type.ToString() == type)
            .ToList();
    }

    private List<SkillCard> GetSkillCardsByRank(List<SkillCard> skillCards, int rank)
    {
        return skillCards
            .Where(skillCard => skillCard.Rank == rank)
            .ToList();
    }
}