@model SkillListingViewModel

<div>
    <h2 class="text-align-center col-md-12 col-sm-12 col-xs-12">Skills</h2>
    <table class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Effect</th>
                <th class="slim-column text-align-center">Cost</th>
                <th class="mobile-hidden">Personas</th>
            </tr>
        </thead>
        <tbody class="alterate-row-colour">
            @foreach (var skill in Model.Skills)
            {
                <tr>
                    <td class="text-primary">@skill.Name</td>
                    <td>@skill.Effect</td>
                    <td class="text-align-center font-bold @CalculateCostType(skill.Cost)">@(skill.Cost != "" ? skill.Cost : "-")</td>
                    <td class="mobile-hidden">
                        @for (var i = 0; i < skill.Personas.Count(); i++)
                        {
                            var persona = skill.Personas[i];

                            <a asp-controller="Persona" asp-action="@persona.Name">
                                <span class="@(persona.Ultimate ? "type-ultimate" : persona.NewGame ? "type-new-game" : "")">
                                    @persona.Name
                                </span>
                                <span class="text-secondary">
                                    @(persona.LevelRequired != 0 ? $" ({persona.LevelRequired})" : "")
                                </span>
                                @(i != skill.Personas.Count() - 1 ? "," : "")
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3 class="no-results text-error text-align-center col-md-12 col-sm-12 col-xs-12" hidden>No results</h3>
</div>

@functions {
    public static string CalculateCostType(string cost)
    {
        if (cost.Length == 0)
        {
            return "";
        }

        if (cost[cost.Length - 2] == 'S')
        {
            return "cost-sp";
        }

        if (cost[cost.Length - 2] == 'H')
        {
            return "cost-hp";
        }

        return "";
    }
}