@model PersonaListingViewModel

<table class="col-md-8 col-md-offset-2">
    <thead>
        <tr>
            <th class="extra-slim-column center-align">Level</th>
            <th>Name</th>
            <th>Arcana</th>
            <th class="extra-slim-column center-align">St</th>
            <th class="extra-slim-column center-align">Mg</th>
            <th class="extra-slim-column center-align">En</th>
            <th class="extra-slim-column center-align">Ag</th>
            <th class="extra-slim-column center-align">Lu</th>
            <th class="extra-slim-column center-align"><img src="~/img/Physical.png" alt="Physical" /></th>
            <th class="extra-slim-column center-align"><img src="~/img/Fire.png" alt="Fire" /></th>
            <th class="extra-slim-column center-align"><img src="~/img/Ice.png" alt="Ice" /></th>
            <th class="extra-slim-column center-align"><img src="~/img/Electric.png" alt="Electric" /></th>
            <th class="extra-slim-column center-align"><img src="~/img/Wind.png" alt="Wind" /></th>
            <th class="extra-slim-column center-align"><img src="~/img/Light.png" alt="Light" /></th>
            <th class="extra-slim-column center-align"><img src="~/img/Dark.png" alt="Dark" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model.Personas)
        {
            <tr>
                <td class="center-align">@persona.Level</td>
                <td class="text-bright"><a class="@(persona.Ultimate ? "type-ultimate" : persona.NewGame ? "type-new-game" : "")" asp-action="@persona.Name">@persona.Name</a></td>
                <td>@persona.Arcana</td>
                <td class="center-align">@persona.Stats.Strength</td>
                <td class="center-align">@persona.Stats.Magic</td>
                <td class="center-align">@persona.Stats.Endurance</td>
                <td class="center-align">@persona.Stats.Agility</td>
                <td class="center-align">@persona.Stats.Luck</td>
                <td class="center-align affinity-@persona.Elements.Physical">@ConvertElementAffinityToShortHand(persona.Elements.Physical)</td>
                <td class="center-align affinity-@persona.Elements.Fire">@ConvertElementAffinityToShortHand(persona.Elements.Fire)</td>
                <td class="center-align affinity-@persona.Elements.Ice">@ConvertElementAffinityToShortHand(persona.Elements.Ice)</td>
                <td class="center-align affinity-@persona.Elements.Electricity">@ConvertElementAffinityToShortHand(persona.Elements.Electricity)</td>
                <td class="center-align affinity-@persona.Elements.Wind">@ConvertElementAffinityToShortHand(persona.Elements.Wind)</td>
                <td class="center-align affinity-@persona.Elements.Light">@ConvertElementAffinityToShortHand(persona.Elements.Light)</td>
                <td class="center-align affinity-@persona.Elements.Darkness">@ConvertElementAffinityToShortHand(persona.Elements.Darkness)</td>
            </tr>

        }
    </tbody>
</table>

@using static Persona4GoldenHelper.Data.Enums
@functions {
    /// <summary>This will convert the element affinities ("None", "Weak", "Resistant" etc) into shorter versions ("", "wk", "rs" etc) for easy of reading and displaying.</summary>
    /// <param name="element">The element affinity to convert</param>
    /// <returns>The short hand version of the affinity</returns>
    public static string ConvertElementAffinityToShortHand(ElementAffinity element)
    {
        Dictionary<string, string> converter = new Dictionary<string, string>
        {
            { "Weak", "wk" },
            { "None", "-" },
            { "Resistant", "rs" },
            { "Null", "nu" },
            { "Reflect", "rf" },
            { "Absorb", "ab" }
        };

        return converter[element.ToString()];
    }
}