@page "/personas"
@inject HttpClient Http;

<div class="content-normal">
    <SearchBox @ref="SearchBox" />

    <h1>Personas</h1>
    @if (SearchBox != null)
    {
        <FilterableTable TContent=Persona Content=AllPersonas SearchBox="SearchBox">
            <HeaderRow>
                <th class="column-very-slim text-align-centre">Level</th>
                <th>Name</th>
                <th>Arcana</th>
                <th class="column-very-slim text-align-centre">St</th>
                <th class="column-very-slim text-align-centre">Mg</th>
                <th class="column-very-slim text-align-centre">En</th>
                <th class="column-very-slim text-align-centre">Ag</th>
                <th class="column-very-slim text-align-centre">Lu</th>
                <th class="column-very-slim text-align-centre"><img src="images/physical.png" alt="Physical" /></th>
                <th class="column-very-slim text-align-centre"><img src="images/fire.png" alt="Fire" /></th>
                <th class="column-very-slim text-align-centre"><img src="images/ice.png" alt="Ice" /></th>
                <th class="column-very-slim text-align-centre"><img src="images/electricity.png" alt="Electric" /></th>
                <th class="column-very-slim text-align-centre"><img src="images/wind.png" alt="Wind" /></th>
                <th class="column-very-slim text-align-centre"><img src="images/light.png" alt="Light" /></th>
                <th class="column-very-slim text-align-centre"><img src="images/darkness.png" alt="Dark" /></th>
            </HeaderRow>
            <ContentRow>
                <tr class="alternate-colour">
                    <td class="text-secondary text-align-centre">@context.Level</td>
                    <td><a class="@(context.IsUltimate ? "persona-type-ultimate" : context.IsNewGamePlus ? "persona-type-new-game" : "")" href="/personas/@context.Name">@context.Name</a></td>
                    <td class="text-secondary">@context.Arcana</td>
                    <td class="text-secondary text-align-centre">@context.Stats.Strength</td>
                    <td class="text-secondary text-align-centre">@context.Stats.Magic</td>
                    <td class="text-secondary text-align-centre">@context.Stats.Endurance</td>
                    <td class="text-secondary text-align-centre">@context.Stats.Agility</td>
                    <td class="text-secondary text-align-centre">@context.Stats.Luck</td>
                    <td class="text-secondary text-align-centre font-bold affinity-@context.ElementAffinities.Physical">@Utilities.ConvertElementAffinityToShortHand(context.ElementAffinities.Physical)</td>
                    <td class="text-secondary text-align-centre font-bold affinity-@context.ElementAffinities.Fire">@Utilities.ConvertElementAffinityToShortHand(context.ElementAffinities.Fire)</td>
                    <td class="text-secondary text-align-centre font-bold affinity-@context.ElementAffinities.Ice">@Utilities.ConvertElementAffinityToShortHand(context.ElementAffinities.Ice)</td>
                    <td class="text-secondary text-align-centre font-bold affinity-@context.ElementAffinities.Electricity">@Utilities.ConvertElementAffinityToShortHand(context.ElementAffinities.Electricity)</td>
                    <td class="text-secondary text-align-centre font-bold affinity-@context.ElementAffinities.Wind">@Utilities.ConvertElementAffinityToShortHand(context.ElementAffinities.Wind)</td>
                    <td class="text-secondary text-align-centre font-bold affinity-@context.ElementAffinities.Light">@Utilities.ConvertElementAffinityToShortHand(context.ElementAffinities.Light)</td>
                    <td class="text-secondary text-align-centre font-bold affinity-@context.ElementAffinities.Darkness">@Utilities.ConvertElementAffinityToShortHand(context.ElementAffinities.Darkness)</td>
                </tr>
            </ContentRow>
        </FilterableTable>
    }
</div>

@code {
    /*********
    ** Fields
    *********/
    /// <summary>A reference to the search box.</summary>
    private SearchBox _SearchBox;

    /// <summary>All the personas to display.</summary>
    private List<Persona> AllPersonas;

    
    /*********
    ** Accessors
    *********/
    /// <summary>A reference to the search box.</summary>
    public SearchBox SearchBox
    {
        get => _SearchBox;
        set
        {
            _SearchBox = value;
            StateHasChanged();
        }
    }


    /*********
    ** Protected Methods
    *********/
    /// <inheritdoc/>
    protected override async Task OnInitializedAsync() => AllPersonas = await Http.GetFromJsonAsync<List<Persona>>("data/personas.json");
}