@page "/plants"
@inject HttpClient Http;

<div class="content-normal">
    <SearchBox @ref="SearchBox" />

    <h1>Plants</h1>
    @if (SearchBox != null)
    {
        <FilterableTable TContent=Plant Content=AllPlants SearchBox="SearchBox" IncludeTBodyTag=false>
            <HeaderRow>
                <th class="text-align-centre">Available</th>
                <th>Seedling Name</th>
                <th class="text-align-centre">Price</th>
                <th class="text-align-centre">Growth Time (Days)</th>
                <th class="text-align-centre">Harvest</th>
                <th class="text-align-centre">Harvest with Tending</th>
                <th>Product</th>
                <th>Effect</th>
	    	</HeaderRow>
            <ContentRow>
                <tbody class="alternate-colour">
                    @for (int i = 0; i < context.Products.Count; i++)
                    {
                        <tr>
                            @if (i == 0)
                            {
                                <td rowspan=@context.Products.Count class="text-secondary text-align-centre">@context.DateAvailable</td>
                                <td rowspan=@context.Products.Count>@context.Seed.Name</td>
                                <td rowspan=@context.Products.Count class="text-secondary text-align-centre">@context.Seed.Cost</td>
                                <td rowspan=@context.Products.Count class="text-align-centre">@context.GrowthTime</td>
                                <td rowspan=@context.Products.Count class="text-align-centre">@context.Harvest</td>
                                <td rowspan=@context.Products.Count class="text-align-centre">@context.HarvestWithTending</td>
                            }

                            <td>@context.Products[i].Name</td>
                            <td>@context.Products[i].Effect</td>
                        </tr>
                    }
                </tbody>
	    	</ContentRow>
	    </FilterableTable>
    }
</div>

@code {
    /*********
    ** Fields
    *********/
    /// <summary>A reference to the search box.</summary>
    private SearchBox _SearchBox;

    /// <summary>All the plants to display.</summary>
    private List<Plant> AllPlants;


    /*********
    ** Accessors
    *********/
    /// <summary>A reference to the search box.</summary>
    public SearchBox SearchBox
    {
        get => _SearchBox;
        set
        {
            _SearchBox = value;
            StateHasChanged();
        }
    }


    /*********
    ** Protected Methods
    *********/
    /// <inheritdoc/>
    protected override async Task OnInitializedAsync() => AllPlants = await Http.GetFromJsonAsync<List<Plant>>("data/plants.json");
}
