@page "/quests"
@inject HttpClient Http;

<div class="content-wide">
    <SearchBox @ref="SearchBox" />

    <h1>Quests</h1>
    @if (SearchBox != null)
    {
        <FilterableTable TContent=Quest Content=AllQuests SearchBox=SearchBox>
            <HeaderRow>
                <th class="column-very-slim text-align-centre">Number</th>
                <th>Title</th>
                <th class="column-slim text-align-centre">Quest Giver</th>
                <th class="text-align-centre">Location</th>
                <th class="column-slim text-align-centre">Available</th>
                <th class="text-align-centre">Prerequisities</th>
                <th class="text-align-centre">Reward</th>
                <th>Instructions</th>
            </HeaderRow>
            <ContentRow>
                <tr class="alternate-colour">
                    <td class="text-secondary text-align-centre">@context.Number</td>
                    <td>@context.Title</td>
                    <td class="text-align-centre">@context.QuestGiver</td>
                    <td class="text-align-centre">@context.Location</td>
                    <td class="text-align-centre">@context.DateAvailable</td>
                    <td class="text-align-centre">@(context.Prerequisites != "" ? context.Prerequisites : "-")</td>
                    <td class="text-align-centre">@(context.Reward != "" ? context.Reward : "-")</td>
                    <td>@context.Instructions</td>
                </tr>
            </ContentRow>
        </FilterableTable>
    }
</div>

@code {
    /*********
    ** Fields
    *********/
    /// <summary>A reference to the search box.</summary>
    private SearchBox _SearchBox;

    /// <summary>All the quests to display.</summary>
    private List<Quest> AllQuests;


    /*********
    ** Accessors
    *********/
    /// <summary>A reference to the search box.</summary>
    public SearchBox SearchBox
    {
        get => _SearchBox;
        set
        {
            _SearchBox = value;
            StateHasChanged();
        }
    }


    /*********
    ** Protected Methods
    *********/
    /// <inheritdoc/>
    protected override async Task OnInitializedAsync() => AllQuests = await Http.GetFromJsonAsync<List<Quest>>("data/quests.json");
}
